* {
  font-family: sans-serif;
  border: none;
  outline: none;
}

button {
  background-color: rgb(16, 96, 216);
  outline: none;
  border-radius: 0.2rem;
  margin-top: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: rgb(48, 180, 180);
  transition: all 0.25s ease-in-out;
}

.quote {
  color: #9b2727;
}
